<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %} - Tolkien Ipsum</title>

    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative|Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "/static/shared/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "/static/shared/css/site.css" %}">
</head>
<body>
    <header>
        <a href="/"><h1>Tolkien Ipsum</h1></a>
        <h2>A Lord of the Rings greeking generator</h2>
    </header>

    <article>
        {% block content %}{% endblock %}
    </article>

    <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <div>
            <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Tolkien Ipsum</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/flyingfisch/tolkienipsum" property="cc:attributionName" rel="cc:attributionURL">Mark Fischer, Jr.</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </div>
    </footer>
</body>
</html>
