{% extends "shared/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <form action="">
        <p>
            <label for="paragraphs">Paragraphs</label><input id="paragraphs" name="paragraphs" type="number">
        </p>

        <p>
            <label for="min_sentences">Min sentences per paragraph</label><input id="min_sentences" name="min_sentences" type="number">
        </p>

        <p>
            <label for="max_sentences">Max sentences per paragraph</label><input id="max_sentences" name="max_sentences" type="number">
        </p>

        <button type="submit">Generate</button>
    </form>
{% endblock %}

